<!-- views\partials\head.ejs -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title || "MyDrive" %></title>
  <link href="/styles/build.css" rel="stylesheet" />
  <link rel="icon" href="/favicon.ico" />
</head>

